* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.cash {
  text-align: center;
}

.TradeForm {
  margin: 0 auto 0 auto;
  width: 200px;
}

.SymbolsInput {
  width: 100%;
  border: 1px solid grey;
  box-shadow: 2px 2px;
  margin-bottom: 10px;
}

.SymbolsInput input {
  width: 100%;
  border: none;
  font-size: 14px;
  padding: 10px 5px;
  outline: none;
}

.tradeQuantity {
  width: 100%;
  border: 1px solid grey;
  box-shadow: 2px 2px;
  padding: 10px 5px;
}

.SymbolsInput ul {
  list-style-type: none;
  text-align: left;
  border-top: 1px solid grey;
  overflow-y: scroll;
  max-height: 200px;
}

.SymbolsInput ul::before {
  content: '';
}

.SymbolsInput li {
  padding: 10px 5px;
  font-size: 14px;
  cursor: pointer;
}

.SymbolsInput li:hover {
  /* text-decoration: underline; */
  background-color: rgba(128, 128, 128, 0.2);
}
